<div class="form-1-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 form-1-box wow fadeInUp">
                <form action="" method="post">
                    <fieldset class="form-group border p-3">
                        <legend class="w-auto px-2">Zaloguj</legend>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control email" id="email" placeholder="Email..." name="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Hasło:</label>
                            <input type="password" class="form-control password" id="password" placeholder="Hasło..." name="password">
                        </div>
                        <div class="form-group row text-center">
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-customized">Zaloguj</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>