<div class="form-1-container section-container">
    <div class="container">
        <div class="row"> 
            <div class="col-md-10 offset-md-1 form-1-box wow fadeInUp">
                <form [formGroup] = "testForm2">
                    <fieldset class="form-group border p-3" >
                    <legend class="w-auto px-2"> <strong> TEST </strong> ilość pytań: {{ numberOfQuestion }} rodzaj: {{questionType}} Czas: {{ timer }} minut</legend> <br>
                    <legend class="w-auto px-2"></legend>
                        <div class="form-group"  *ngFor="let x of questionTab; let i = index" >
                            <fieldset class="form-group border p-3" > 
                                <label>Nazwa: {{ x[i].questionName }}</label><br>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="A" formControlName="answer"> {{x[i].a1}}
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="B" formControlName="answer"> {{x[i].a2}}
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="C" formControlName="answer"> {{x[i].a3}}
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" value="D" formControlName="answer"> {{x[i].a4}}
                                    </div>
                                </div>
                            </fieldset>
                        </div> 
                        <div class="form-group row text-center">
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-customized" (click) = "verifyTest()" >Sprawdź</button>
                            </div>
                        </div>  
                    </fieldset>    
                </form>
            </div>
        </div>
    </div>
</div>