<div class="form-1-container section-container">
    <div class="container">
        <div class="row"> 
            <div class="col-md-10 offset-md-1 form-1-box wow fadeInUp">
                <fieldset class="form-group border p-3" >
                    <legend class="w-auto px-2"> <strong> TEST </strong> ilość pytań: {{ numberOfQuestion }} rodzaj: {{questionType}} Czas: {{ timer }} minut</legend> <br>
                    <legend class="w-auto px-2"></legend>
                    <fieldset class="form-group border p-3" > 
                        <form [formGroup]="questionFrom" (ngSubmit)="onSubmit()">
                            <div formArrayName="question">
                                <div class="form-group" *ngFor="let question of question.controls; let i=index">
                                    <div class="form-group border" [formGroupName]="i">
                                        <div class="form-group">
                                            <div class="custom-control-inline">
                                                <label> {{ questionDB[i].questionName }} </label>
                                            </div><br>
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="radio" value="A" formControlName="answer">
                                                <label class="form-check-label">{{ questionDB[i].a1 }}</label>      
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="radio" value="B" formControlName="answer">
                                                <label class="form-check-label">{{ questionDB[i].a2 }}</label>     
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="radio" value="C" formControlName="answer">
                                                <label class="form-check-label">{{ questionDB[i].a3 }}</label>     
                                            </div>
                                            <div class="form-check-inline">
                                                <input class="form-check-input" type="radio" value="D" formControlName="answer">
                                                <label class="form-check-label">{{ questionDB[i].a4 }}</label>     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    <div class="form-group row text-center">
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-customized"  (click) = "onSubmit()">Sprawdź</button>
                        </div>
                    </div>
                </fieldset>    
            </div>
        </div>
    </div>
</div>
